@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* fonts:
  font-family: "Roboto Slab", serif;
  font-family: "Inter", sans-serif; 
*/

/*------ general --------*/

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  --dashboard-background: #1e40af;
}

main{
  width: 50%;
  margin: 0 auto;
  flex: 1;
}

footer, nav, .navbar a{
  color:white;
}


/* Page wrapper */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

h1{
  text-align: center;
}

/*------ form --------*/
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7em;
  padding: 1;
  margin-top:2rem;
}

form button{
  font-size: 1.2rem;
  margin-top: 1em;
  border: .5px solid #bbbb;
  border-radius: 30px;
  background-color: orangered;
  padding: .5em 1em;
  color:whitesmoke;
  font-weight:700;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
  box-shadow: 0 0 10px rgb(110, 107, 107);
}


input, select{
  background: none;
  padding: .3em .5em;
  font-size: 1rem;
  border-radius: 10px;
}

.register-text{
  margin-bottom: .1em;
}

/*------ navigation --------*/

/* Links container */
.nav-links {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}

/* Individual links */
.nav-link {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

/* Active link styling */
.nav-link:hover {
  border-bottom: 2px solid #93c5fd;
}

.nav-link.active{
  border-bottom: 2px solid #FFF;
}

/* Profile link */
.nav-profile {
  text-decoration: none;
  font-weight: 500;
}

/* .nav-profile:hover {
  color: #93c5fd;
} */
.navbar a:hover{
  color: #93c5fd;
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dashboard-background);
  padding: 0.5rem 1rem;
}

/* Logo */
.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

/*------ footer --------*/

footer{
  margin: auto 0 0 0;
  text-align: center;
  background-color: var(--dashboard-background);
  text-align: center;
  padding: 1rem 0;
}

