@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* fonts:
  font-family: "Roboto Slab", serif;
  font-family: "Inter", sans-serif; 
*/

/*------ general --------*/

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  --dashboard-background: #1e40af;
}

main{
  width: 50%;
  margin: 0 auto 2em;
  flex: 1;
}

footer, nav, .navbar a{
  color:white;
}


/* media queries */

@media (max-width: 900px){
  main{
    width: 90%;
  }
  .back-to-top-button
  {
    bottom: 80px;
    right: 10px;
    padding: 8px 12px;
    font-size: 14px;
  }
  nav .nav-links{
    gap: .5rem;
    font-size: .6rem;
  }

  nav .nav-logo{
    font-size: .8rem;
  }
  .burger-menu{
    width: 20px;
  }
  .burger-menu-icon{
    height: 2px;
  }

}


/* Page wrapper */
.site-page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1{
  text-align: center;
}

/*------ form --------*/
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7em;
  padding: 1em;
  width: max-content;
  margin: 2rem auto 0;
}

.login-form, .register-form{
  background-color: white;
  padding: 2em;
  box-shadow: 1px 1px 5px rgb(138, 136, 136);
  border-radius: 5px;
}

form button{
  font-size: 1.2rem;
  margin-top: 1em;
  border: .5px solid #bbbb;
  border-radius: 30px;
  background-color: orangered;
  padding: .5em 1em;
  color:whitesmoke;
  font-weight:700;
  cursor: pointer;
  width: 100%;
}

button:hover{
  background-color: #e53e02;
  box-shadow: 0 0 3px rgb(48, 47, 47);
}

button:active{
  box-shadow: inset 1px 1px 10px black;
}

form input, form select{
  background: none;
  padding: .3em .5em;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #bbbb;
}

form input:focus, form select:focus{
  outline: none;
  border: 2px solid #1e40af;
}

.register-text, .login-text{
  margin-bottom: .1em;
}

.redirect-link{
  text-decoration: none;
  color: #1e40af;
  font-weight: 500;
}

.redirect-link:hover{
  text-decoration: underline;
}

/*------ navigation --------*/

.back-to-top-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Links container */
.nav-links {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}

/* Individual links */
.nav-link {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

/* Active link styling */
.nav-link:hover {
  border-bottom: 2px solid #93c5fd;
}

.nav-link.active{
  border-bottom: 2px solid #FFF;
}

/* Profile link */
.nav-profile {
  text-decoration: none;
  font-weight: 500;
}

/* .nav-profile:hover {
  color: #93c5fd;
} */
.navbar a:hover{
  color: #93c5fd;
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dashboard-background);
  padding: 0.5rem 1rem;
}

/* Logo */
.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

/*------ footer --------*/

footer{
  margin: auto 0 0 0;
  text-align: center;
  background-color: var(--dashboard-background);
  text-align: center;
  padding: 1rem 0;
}

/*------ home page --------*/
.course-thumbnail{
  width: 90%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.course-card{
  width: 80%;
  border: 1px solid #bbbb;
  border-radius: 5px;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 1.5em;
  box-shadow: 1px 1px 5px rgb(138, 136, 136);
}

.courses-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.course-title{
  text-align: center;
}

.course-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5em;
}
